/* element.css for the Simple Table element. */
.simple-table-wrapper {
	margin: 20px auto;
}

.simple-table {
	@border: 1px solid @borderColor;
	@fontColor: auto;


	width: 100%;
	background-color: @backgroundColor;
	border: @border;
	border-spacing: 0;

	.cells();


	
	/* styles for the cells inside the tables. handles styling the headlines (because those are rendered as regular <td>s, not <th>s)
	 * intended to the be called from the context of one of the themes. */
	.cells() {

		td.cell {
			border-right: @border;
			border-bottom: @border;
			word-break: break-word;

			width: (100% * (1 / @columns));

			/* .paragraphs are the actual editable content */
			div.paragraph {
				text-align: @alignment !important;
				color: @fontColor;
				width: 90%;
				margin-left: 5%;
				padding-bottom: 10px;
				padding-top: 10px;
			}
		}

		/* shading styles */
		&.shading-Top tr:first-child td,
		&.shading-Left td:first-of-type,
		&.shading-Banded tr:nth-child(even) td:nth-child(odd),
		&.shading-Banded tr:nth-child(odd) td:nth-child(even) {
			background-color: @altColor;
		}

		/* if the shadings on the top or left, that means it's a header, so we should probably bold it */
		&.shading-Top tr:first-child td,
		&.shading-Left td:first-of-type {
			.paragraph {
				font-weight: 700;
			}
		}
		/* fenceposting the borders */
		tr:last-child td {
			border-bottom: none;
		}

		td:last-of-type {
			border-right: none;
		}
	}
}

